*{
	box-sizing: border-box;
	-webkit-box-sizinshoe-side2g: border-box; 
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}/*keep content on float element from going over eachother*/

html, body{
	width: 100%;
	height: 100%;
	background-color: #0f1131;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  -rendering: optimizelegibility;
}

$height-mask: 250px;

$darken: 60%;

$color: rgb(25,55,25);
$color-alpha: darken( $color, $darken );

$color-base: rgba(255,255,255,0.95);