@keyframes wiggle_x_rotate{
	0%		{transform: rotate(0deg);}
	25% 	{transform: rotate(-1deg);}//left starts and stops at same pt
	50%		{transform: rotate(0deg);}
	75% 	{transform: rotate(-1deg);}
	100% 	{transform: rotate(0deg);}
}


//-webkit-animation: spin 1s infinite linear;

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}