span{
	text-decoration: uppercase;
	font-weight: bold;	
}
.gear-container{
	position: absolute;
	z-index: 4;
	//animation-name: wiggle_x_rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite; //1 -default
	// animation-direction: reverse; //alternate
	animation-direction: alternate; //alternate
	animation-timing-function: ease-in-out;
	#gear{
		width: 	20%; 
	//	height: 20%;
		color: #228DFF;
	}

	#gear2{
		width: 	20%; 
	//	height: 20%;
	}

	#gear3{
		width: 	20%; 
	//	height: 20%;
	}

	#gear4{
		width: 	15%; 
	//	height: 15%;
	}

	#gear5{
		width: 	15%; 
		//height: 15%;
	}
}
