span{
	text-decoration: uppercase;
	font-weight: bold;	
}
#gear{
	width: 	20%; 
	height: 20%;
	color: #228DFF;
}

#gear2{
	width: 	20%; 
	height: 20%;
}

#gear3{
	width: 	20%; 
	height: 20%;
}

#gear4{
	width: 	15%; 
	height: 15%;
}

#gear5{
	width: 	15%; 
	height: 15%;
}