span{
	text-decoration: uppercase;
	font-weight: bold;	
}
.gear-container{
	position: relative;
	width:100%;
	z-index: 13;
	//animation: wiggle_x_rotate;
	// animation-duration: 1s;
	// animation-iteration-count: infinite; //1 -default
	// animation-direction: alternate; //alternate
	// animation-timing-function: ease-in-out;

	.gear-positioning {
		position: absolute;
	}

	#gear{
		width: 15%;
		top: 86px;
		left: 4%;
		max-width: 100px;
	}

	#gear2{
		width: 30%;
		top: 136px;
		left: 13%;
		max-width: 180px;
	}

	#gear3{
		width: 33%;
		top: 314px;
		left: 21%;
		max-width:200px;
	}

	#gear4{
		width: 30%;
		// top: 290px;
		// left: 67%;
		top: 326px;
    	left: 69%;
		max-width: 180px;
	}

	#gear5{
		width: 46%;
		top: 34px;
		left: 39%;
		max-width:360px;
	}
}
